body {
    font-weight: 300;
}

/* ----------- Navbar/Sidebar Stuff ----------- */

.wrapper {
    width: 100%;
    min-height: 800px;
    display: flex;
}

nav {
    background-color: #d7dde4;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    line-height: 70px;
    font-weight: 300;
    z-index: 2;
}

nav[shadow] {
    box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.5);
    z-index: 3;
}

nav .brand-logo, nav ul a {
    color: #6E7C8A;
}

.sidebar {
    flex: 1;
    position: fixed;
    min-width: 250px;
    min-height:100%;
    float: left;
    background-color: #4f5f6f;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.13);
    z-index: 2;
}

.sidebar .logo {
    margin-top: 0px;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
    background-color: #445261;
    font-size: 2.1rem;
    font-weight: 300;
    color: #8EE036;
}

.sidebar .logo img {
    vertical-align: middle;
    margin-bottom: 7px;
    margin-left: -10px;
}

.sidebar ul {
    margin-top: 0px;
}

.sidebar ul li {
    position: relative;
    transition: background-color .2s;
    /*width: 100%;*/
    text-align: left;
    /*padding: 15px 25px;*/
}

.sidebar ul li a:after {
    content: '\E5CC';
    position: absolute;
    color: rgba(255,255,255,0.7);
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    vertical-align: middle;
    right: 10px;
    height: 50%;
    margin: auto;
    padding-bottom: 33px;
    top: 0;
    bottom: 0;
}

.sidebar ul li:hover {
    background-color: #3B4854;
}

.sidebar ul li i {
    vertical-align: middle;
    margin-bottom: 4px;
    padding-right: 10px;
    color: #C4C4C4;
}

.sidebar ul li a {
    display: inline-block;
    font-weight: 300;
    color: #C4C4C4;
    width: 100%;
    padding: 15px 25px;
}


.sidebar ul li:hover a, .sidebar ul li:hover i {
    color: #DEDEDE;
}


.sidebar ul li[active] a, .sidebar ul li[active]  i {
    color: #EEE;
}

.sidebar ul li[active] {
    background-color: #3B4854;
}

.sidebar ul li[active] {
    border-left: 6px solid #85CE36;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 5px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.10);*/
    box-shadow: none;
}


/* ----------- Breadcrumb Stuff ----------- */

.nav-breadcumb {
    /*padding-top: 5px;*/
    height: 30px;
    line-height: 30px;
    background-color: #F9F9F9;
}

.breadcrumb, .breadcrumb::before {
    color: #8D969E;
}

.breadcrumb:last-child {
    color: #6E7C8A;
}

.breadcrumb:before {
    color: #bbb;
    font-size: 20px;
    margin: 0 5px 0 3px;
}

.nav-breadcumb .breadcrumb {
    font-size: 13px;
}

/* ----------- Content Stuff ----------- */

.main-content {
    flex: 6;
    height: 100%;
    padding-left: 250px;
}

.view-content {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    color: #4f5f6f;
}

.neural-net-card {
    width: 100%;
    height: auto;
    background-color: #546e7a;
    position: relative;
    margin-bottom: 10px;
    /*box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.41);*/
}

.neural-net-card .logo {
    width: 120px;
    height: auto;
    background-color: #6E7C8A;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    white-space: nowrap;
}

.neural-net-card .logo .helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.neural-net-card .logo img {
    vertical-align: middle;
    margin-left: 10px;
}

.neural-net-card .content {
    height: 100%;
    padding: 10px 10px 10px 140px;
    color: #DDD;
    overflow: none;
}

.neural-net-card .content .card-title {
    font-size: 1.2rem;
    color: #CCC;
}

.neural-net-card .content .neural-net-stats span {
    font-size: 1.4rem;
    padding-right: 5px;
    text-transform: uppercase;
}

.neural-net-card .content .neural-net-stats span .value {
    font-size: 1.4rem;
    color: #ccc;
}

.view-content .title {
    font-size: 2.0rem;
}

.view-content .sub-title {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.view-content .small-title {
    font-size: 0.8rem;
    margin-left: 5px;
    color: #6E7C8A;
}


/* ----------- Chart Stuff ----------- */

.ct-point {
    stroke-width: 5px !important;
}

.ct-line {
    stroke-width: 3px !important;
}

.ct-grid {
    stroke: rgba(0,0,0,.2) !important;;
    stroke-width: 0.5px !important;
    stroke-dasharray: 0px !important;;
}

.ct-legend {
    position: relative;
    z-index: 10;
    float: left;
    display: block;
    left: 50%;
}

    .ct-legend li {
    position: relative;
    float: left;
    display: block;
    right: 50%;
    padding-left: 23px;
    padding-right: 23px;
    margin-bottom: 3px;
}
.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
    top: 5px;
}
.ct-legend li.inactive:before {
    background: transparent;
}
.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}
.ct-legend .ct-series-0:before {
    background-color: #d70206;
    border-color: #d70206;
}
.ct-legend .ct-series-1:before {
    background-color: #f05b4f;
    border-color: #f05b4f;
}
.ct-legend .ct-series-2:before {
    background-color: #f4c63d;
    border-color: #f4c63d;
}
.ct-legend .ct-series-3:before {
    background-color: #d17905;
    border-color: #d17905;
}
.ct-legend .ct-series-4:before {
    background-color: #453d3f;
    border-color: #453d3f;
}
.ct-legend .ct-series-5:before {
    background-color: #59922b;
    border-color: #59922b;
}
