<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <div class="logo">
            ML Board
        </div>
        <ul>
            <li><a href="#">Home<a/></li>
            <li active><a href="#">Settings<a/></li>
        </ul>
    </div>
    <div class="main-content">
        <nav shadow>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Dashboard</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Trainings</a></li>
                    <li><a href="#">Models</a></li>
                    <li><a href="#">Optimizers</a></li>
                    <li><a href="#">Overview</a></li>
                </ul>
            </div>
        </nav>
        <nav class="nav-breadcumb">
            <div class="col s12">
                <a href="#!" class="breadcrumb">Neural Network</a>
                <a href="#!" class="breadcrumb">Models</a>
                <a href="#!" class="breadcrumb">Training Session</a>
            </div>
        </nav>
        <div class="view-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>