<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" height="40" /> ML Board
        </div>
        <ul>
            <li active><a href="#"><i class="material-icons md-18">home</i>Home</a></li>
            <li><a href="#"><i class="material-icons md-18">settings</i>Settings</a></li>
        </ul>
    </div>
    <div class="main-content">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Dashboard</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Trainings</a></li>
                    <li><a href="/nets">Networks</a></li>
                    <li><a href="#">Optimizers</a></li>
                    <li><a href="#">Overview</a></li>
                </ul>
            </div>
        </nav>
        <nav class="nav-breadcumb">
            <div class="col s12">
                <a href="/" class="breadcrumb">Dashboard</a>
                {% block breadcrumb %}
                {% endblock %}
            </div>
        </nav>
        <div class="view-content">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</div>
{% block scripts %}
{% endblock %}
</body>
</html>