{% extends "layout.html" %}
<!--  ================ Title ================ -->
{% block title %}Neural Networks{% endblock %}

<!--  ================ Breadcrumb ================ -->
{% block breadcrumb %}
    <a href="/nets" class="breadcrumb">Neural Networks</a>
    <a href="/nets/{{net_id}}" class="breadcrumb">Network: {{ neural_net['network_info']['name'] }}</a>
    <a href="#" class="breadcrumb">Session: {{ session_id }}</a>
{% endblock %}

<!--  ================ Content ================ -->
{% block content %}
{% set num_with_anomalies = neural_net['training']['entries'] | length %}
{% set num_without_anomalies = neural_net['training']['entries_without_anom'] | length %}
{% set num_accuracy_monitors = neural_net['training']['accuracies'] | length %}

<!--
     if there are anomalies (if the number of points in the anomaly graph are not equal to the number of points
     the regular graph, then there are anomalies)
-->
{% if num_without_anomalies != num_with_anomalies and num_without_anomalies > 0  %}
<div style="width: 50%;float: left;height: 50px;position: relative;">
    <div style="position: absolute;bottom: 0;">
        <span class="title">{{neural_net['network_info']['name']}}</span><span class="small-title">{{ net_id }}</span>
    </div>
</div>
<div style="width: 50%;float: left;height: 50px;position: relative;">
    <span class="sub-title" style="position: absolute;bottom: 0;padding-left: 10px;">Graph without anomalies</span>
</div>
<div style="margin-top:0px;width: 50%;height: 300px;float:left;display: block;">
    <div class="ct-chart" id="chart_with_anomalies"></div>
</div>
<div style="margin-top:0px;width: 50%;float:left;display: block;">
    <div class="ct-chart" id="chart_without_anomalies"></div>
</div>
{% else %}
<!-- If there are no anomalies we just show the graph without the anomalies and make it full width -->
<div style="width: 100%;position: relative;">
    <div>
        <span class="title">{{neural_net['network_info']['name']}}</span><span class="small-title">{{ net_id }}</span>
    </div>
</div>
<div style="margin-top:0px;width: 100%;height: 300px;float:left;display: block;">
    <div class="ct-chart" id="chart_with_anomalies"></div>
</div>
{% endif %}

{% if num_accuracy_monitors > 0 %}
<div class="sub-title" style="padding-bottom: 10px;">Accuracies</div>
<!-- Accuracies -->
<div style="margin-top:0px;width: 100%;float:left;display: block;">
    <div class="ct-chart ct-tracker" id="chart_tracker"></div>
</div>
{% endif %}

{% endblock %}

<!--  ================ Charts initialization ================ -->
{% block scripts %}
<script type="text/javascript">
    {# convert python's True and False to js true and false #}
    var True = true;
    var False = false;
    var data = {{ neural_net|safe }};
    console.log(data);

    var values = data['training']['costs'];
    var x_axis = data['training']['entries'];

    var values_without_anom = data['training']['costs_without_anom'];
    var x_axis_without_anom = data['training']['entries_without_anom'];

    document.addEventListener('DOMContentLoaded',function(){
        var options = {
            fullWidth: true,
            height: '300px',
            chartPadding: {
                right: 40,
                left: 0
            },
            axisX: {
                labelInterpolationFnc: function (value, index) {
                    return index % (parseInt(data['training']['entry_num']/10)) === 0 ? value : null;
                },
                showGrid: false
            },
            axisY: {
                labelInterpolationFnc: function (value) {
                    return Math.round(value * 100) / 100;
                }
            }
        };

        new Chartist.Line('#chart_with_anomalies', {
            labels: x_axis,
            series: [
                        values
                    ]
        }, options);

        if(x_axis_without_anom.length != x_axis.length) {
            new Chartist.Line('#chart_without_anomalies', {
                labels: x_axis_without_anom,
                series: [
                    values_without_anom
                ]
            }, options);
        }

        var options_tracker = {
            fullWidth: true,
            height: '300px',
            chartPadding: {
                right: 40,
                left: 0
            },
            axisX: {
                labelInterpolationFnc: function (value, index) {
                    return index % (parseInt(data['training']['entry_num']/20)) === 0 ? value : null;
                },
                showGrid: false
            },
            axisY: {
                labelInterpolationFnc: function (value) {
                    return Math.round(value * 100) / 100;
                }
            },
            plugins: [
                Chartist.plugins.legend({
                    legendNames: [
                        {% for tracker in neural_net['training']['accuracies'] %}
                            data['training']['accuracies_names'][{{ loop.index0 }}],
                        {% endfor %}
                    ],
                })
            ]
        };

        new Chartist.Line('#chart_tracker', {
            labels: x_axis,
            series: [
                    {% for tracker in neural_net['training']['accuracies'] %}
                        data['training']['accuracies'][{{ loop.index0 }}],
                    {% endfor %}
                    ]
        }, options_tracker);

    });
</script>
{% endblock %}