{% extends "layout.html" %}
<!--  ================ Title ================ -->
{% block title %}Neural Networks{% endblock %}

<!--  ================ Breadcrumb ================ -->
{% block breadcrumb %}
    <a href="/nets" class="breadcrumb">Neural Networks</a>
    <a href="#" class="breadcrumb">Network: {{ neural_net['network_info']['name'] }}</a>
{% endblock %}


<!--  ================ Content ================ -->
{% set num_inputs = neural_net['input_data'] | length %}
{% block content %}
<div>
    <span class="title">{{neural_net['network_info']['name']}}</span><span class="small-title">{{ net_id }}</span>
</div>
<div>
    <svg class="net-approximation-svg" width="100%" height="380" id="snap">

    </svg>
</div>
<div class="row">
    <div class="neural-net-card valign-wrapper link-list" style="padding-left: 15px;height: 50px;">
        <a class="waves-effect waves-light btn-floating btn-flat {{ 'disabled' if num_inputs <= 0 }}" style="position:relative;float: left;margin-right: 5px;" id="overlay-button" onclick="openPopup('overlay')">
            <i class="material-icons" style="color:#777;margin-top: -30px;">bubble_chart</i>
        </a>
        <a href="#!" class="{{ 'disabled' if num_inputs <= 0 }}" onclick="openPopup('overlay')">Visualize Datasets ({{ num_inputs }})</a>
    </div>
    {#  Display all trainings  #}
    <div class="full-width-container">
    {% for training in neural_net['trainings'] %}
        <div class="col s6"style="padding-left: 0px;">
            <div class="neural-net-card">
                <div class="content">
                    <span class="card-title"> <a href="/nets/{{ net_id }}/{{training['session_id']}}">{{ training['session_id'] }}</a></span>
                    <div class="neural-net-stats">
                        <span style="font-size: 1.1rem;position: relative;top: 50%;transform: translateY(-50%);">Samples: {{training['data']['entries'] | length }}</span>
                        <a class="waves-effect waves-light btn-floating btn-flat dropdown-button" data-alignment="right" data-activates='dropdown{{ loop.index0 }}' style="position:absolute;right:10px;top:10px;"><i class="material-icons" style="color:#777;">more_vert</i></a>
                        <ul id='dropdown{{ loop.index0 }}' class='dropdown-content'>
                            <li><a href="#!">one</a></li>
                            <li><a href="#!">two</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<!--  ==== Overlay ==== -->
<div class="overlay" id="overlay">
    <a class="waves-effect waves-light btn-floating btn-flat close-button" style="position:absolute;right: 20px;top:20px;" id="close-button" onclick="closePopup('overlay')">
        <i class="material-icons" style="color:#777;font-size: 2rem;">close</i>
    </a>
    <a class="waves-effect waves-light btn-floating btn-flat btn-large" style="position:absolute;left: 20px;top:0;bottom: 0;margin-top:auto;margin-bottom:auto;" onclick="rotateLeft()">
        <i class="material-icons" style="color:#777;font-size: 5rem;margin-left: -22px;margin-top:2px;">keyboard_arrow_left</i>
    </a>
    <a class="waves-effect waves-light btn-floating btn-flat btn-large" style="position:absolute;right: 20px;top:0;bottom: 0;margin-top:auto;margin-bottom:auto;" onclick="rotateRight()">
        <i class="material-icons" style="color:#777;font-size: 5rem;margin-left: -12px;margin-top:1px;">keyboard_arrow_right</i>
    </a>

    <div id="carousel-content" class="carousel-content">
        {% for input_data in neural_net['input_data'] %}
        <div class="input-container" id="input_data_div_{{ loop.index0 }}" style="position:absolute;">
            <span class="carousel-title">Dataset {{ loop.index }}</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<!--  ================ Draw the network with snap.svg ================ -->
{% block scripts %}
<script>
    var s = Snap("#snap");

    // Get the data
    var trainings = {{neural_net['trainings'] | safe}};

    // get the container's width so we can adjust our drawing of the net to the width
    var container = document.getElementById("view-content");
    var width = container.clientWidth;

    // define the number of layers (network layers)
    {% set layer_size = neural_net['network_info']['layers'] | length %}
    // iterate over all layers and draw them
    {% for x in range(0, layer_size) %}
        // define some parameters we will use to draw the net
        var x_offset = 50;
        var y_offset = 60;
        // radius of the circles we draw
        var radius = 20;
        // calculate the distance between the each layers
        var distance = (width+width*0.15)/{{ layer_size}} - {{  layer_size*4 }}
        {% for y in range(0, neural_net['network_info']['layer_sizes'][x]) %}
            // calculate the unit's x and y position
            var unit_position_x = x_offset + {{ x }}*distance;
            var unit_position_y = y_offset + {{ y*2.5 }}*radius + {{ (1-(neural_net['network_info']['layer_sizes'][x]/6))}} * (190-radius-y_offset/2);

            // draw the connections between the unit and the next layer's units
            {% if x+1 < layer_size %}
                {% for z in range(0, neural_net['network_info']['layer_sizes'][x+1]) %}
                    // calculate the next layer's unit's position (redundant because we calculate
                    // it in the next iteration again, but it's a quick implementation)
                    var next_unit_position_x = x_offset + ({{ x }}+1)*distance;
                    var next_unit_position_y = y_offset + {{ z }}*2.5*radius + {{ (1-(neural_net['network_info']['layer_sizes'][x+1]/6)) }} * (190-radius-y_offset/2);

                    // draw the line
                    s.line(unit_position_x +radius, unit_position_y, next_unit_position_x- radius, next_unit_position_y).attr({
                        stroke: "#888",
                        strokeWidth: 1,
                        strokeDasharray: "2 1",
                        strokeDashoffset: 0
                    });
                {% endfor %}
            {% endif %}

            // draw the unit
            s.circle(unit_position_x, unit_position_y, radius).attr({
                fill: "#fff",
                fillOpacity: 0.0,
                stroke: "#e74c3c",
                strokeWidth: 2
            });
        {% endfor %}
    {% endfor %}

    // convert python's True and False to js true and false
    var True = true;
    var False = false;
    var data = {{ neural_net|safe }};
    console.log(data);

    {% for input_data in neural_net['input_data'] %}
        var trace_{{ loop.index0 }} = {
            x: data['input_data'][{{ loop.index0 }}]['x'],
            y: data['input_data'][{{ loop.index0 }}]['y'],
            z: data['input_data'][{{ loop.index0 }}]['z'],
            mode: 'markers',
            marker: {
                size: 5,
                color: data['input_data'][{{ loop.index0 }}]['c'],
                colorscale: 'Viridis',
                opacity: 1
            },
            type: 'scatter3d',
        };

        var data_3d_{{ loop.index0 }} = [trace_{{ loop.index0 }}];
        var layout = {
            width: width,
            height: window.innerHeight,
            margin: {
                l: 0,
                r: 0,
                b: 0,
                t: 0
            },
            hovermode: false,
            scene: {
                xaxis: {
                    title: '',
                    autorange: true,
                    showgrid: false,
                    zeroline: false,
                    showline: false,
                    autotick: true,
                    ticks: '',
                    showticklabels: false,
                    showspikes: false
                },
                yaxis: {
                    title: '',
                    autorange: true,
                    showgrid: false,
                    zeroline: false,
                    showline: false,
                    autotick: true,
                    ticks: '',
                    showticklabels: false,
                    showspikes: false
                },
                zaxis: {
                    title: '',
                    autorange: true,
                    showgrid: false,
                    zeroline: false,
                    showline: false,
                    autotick: true,
                    ticks: '',
                    showticklabels: false,
                    showspikes: false,
                    showbackground: true,
                    backgroundcolor: "rgb(170, 170, 170)"
                },
                camera: {
                    center: {x: 0, y: 0.05, z: -0.1},
                    eye: {x:1.6, y:0.05, z:0.4},
                    up: {x: 0, y: 0, z: 1}
                }
            },
            paper_bgcolor: 'rgba(0,0,0,0)',
        };

        Plotly.newPlot('input_data_div_{{ loop.index0 }}', data_3d_{{ loop.index0 }}, layout, {displayModeBar: false});

    {% endfor %}


    {# ===================  POPUP-CAROUSEL CODE   =================== #}

    (function () {
        {% for input_data in neural_net['input_data'] %}
            var in{{ loop.index0 }} = document.getElementById('input_data_div_{{ loop.index0 }}');

            in{{ loop.index0 }}.style.left = {{ loop.index0 }}*width + 'px';
        {% endfor %}
    })();

    var currentView = 0;
    var maxViews = {{ num_inputs }};

    function openPopup(id){
        var overlay = document.getElementById(id);

        overlay.style.transform = "scale(1)";
        openCloseButton();
    }

    function closePopup(id){
        var overlay = document.getElementById(id);

        overlay.style.transform = "scale(0)";
        closeCloseButton();
    }

    function openCloseButton() {
        var closeButton = document.getElementById('close-button');

        closeButton.style.display = "block";

        setTimeout(function () {
            closeButton.style.opacity = "1";
        }, 400);
    }


    function closeCloseButton() {
        var closeButton = document.getElementById('close-button');

        closeButton.style.opacity = "0";

        setTimeout(function () {
            closeButton.style.display = "none";
        }, 500);
    }

    function rotateRight(){
        var carousel = document.getElementById('carousel-content');
        var width = carousel.parentElement.clientWidth;

        if(currentView < maxViews-1) {
            currentView++;
        }

        carousel.style.marginLeft = -currentView*100+"%";
    }

    function rotateLeft(){
        var carousel = document.getElementById('carousel-content');
        var width = carousel.parentElement.clientWidth;

        if(currentView > 0) {
            currentView--;
        }

        carousel.style.marginLeft = -currentView*100+"%";
    }

</script>
{% endblock %}