{% extends "layout.html" %}
<!--  ================ Title ================ -->
{% block title %}Neural Networks{% endblock %}

<!--  ================ Breadcrumb ================ -->
{% block breadcrumb %}
    <a href="#" class="breadcrumb">Neural Networks</a>
{% endblock %}


<!--  ================ Content ================ -->
{% block content %}
    {% if not neural_nets == [] %}
        <div class="row">
        <div class="full-width-container">
            {#  Display all neural nets  #}
            {% for net in neural_nets %}
                <div class="col s6"style="padding-left: 0px;">
                    <div class="neural-net-card">
                        <div class="content">
                            <a href="/nets/{{ net['id'] }}"><span class="card-title">{{ net['name'] }}</span> <span style="font-size: 0.6rem;color: #aaa;margin-left:5px;">{{ net['id']}}</span></a>
                            <div class="neural-net-stats">
                                {% set size = net['layers'] | length %}
                                <span>Layers: <span class="value">{{ size }}</span></span>
                                <span>Inputs: <span class="value">{{ net['layers'][0]['units'] }}</span></span>
                                <span>Outputs: <span class="value">{{ net['layers'][size-1]['units'] }}</span></span>
                            </div>
                            <a class="waves-effect waves-light btn-floating btn-flat" href="/nets/{{ net['id'] }}" style="position:absolute;right:10px;top:10px;"><i class="material-icons" style="color:#777;">keyboard_arrow_right</i></a>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
        </div>
    {% else %}
      <h4 style="margin-top: 0;">No Data!</h4>
    {% endif %}
{% endblock %}


{% block scripts %}
<script>
    {# Convert python's True and False variables to javascript variables #}
    var True = true;
    var False = false;
    var data = {{ neural_nets|safe }};
    console.log(data);
</script>
{% endblock %}